body {
  background: #C5C5C5;
}

table {
  border: black 1px solid;
}

td {
  border: black 1px dotted;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.playground {
  position: relative;
  text-align: center;
  margin-left: 40%;
  margin-top: 10%;
}

.show {
  border: black 1px dotted;
}

.green {
  background: #99ff33;
}

.yellow {
  background: #FFD847;
}

.red {
  background: #FF021C;
}
