body {
  background: #C5C5C5;
}

table {
  border: black 1px solid;
}

td {
  border: black 1px dotted;
}

.main {
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.playground {
  margin: 10px auto 0px auto;
}

.show {
  border: black 1px dotted;
}

.green {
  background: #99ff33;
}

.blue {
  background: #3399ff;
}

.red {
  background: #FF021C;
}
